/* CSS for Login Page */

#loginPageHeader,
#headerSegment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#loginButton,
#headerSegment {
    background-color: #DA96FF;
}

#loginButton {
    color: black;
    font-size: 15px;
}

#loginForm {
    font-size: 120%;
    text-align: center;
}

#subheader {
    font-size: 80%;
    font-weight: bold;
}

.form-field {
    align-items: center;
}