/* CSS for New User Registration Page */

.ui.form {
    margin: 35px;
}

#registrationFormHeader {
    margin: 35px;
}

#registrationForm {
    font-size: 110%;
}

#registrationButton {
    background-color: #DA96FF;
    color: black;
    font-size: 15px;
}

#bio,
#status,
#email,
#username,
#preferredName,
#age,
#location,
#userImage {
    background-color: #fcf7ff;
}

#registrationQuote {
    display: flex;
    justify-content: center;
}

#registrationQuoteImage {
    width: auto;
    height: 80px;
}