.ui.form {
    margin: 25px;
}

#registrationFormHeader {
    margin: 25px;
}

#registrationForm {
    font-size: 120%;
}

#registrationButton {
    background-color: #DA96FF;
}

#bio, #status, #email, #username, #preferredName, #age, #location, #userImage {
    background-color: #faf1ff;
}

#registrationQuote {
    display: flex;
    justify-content: center;
}

#registrationQuoteImage {
    width: auto;
    height: 80px;
}