.ui.form {
    margin: 25px;
}

#registrationFormHeader {
    margin: 25px;
}

#registrationForm {
    font-size: 120%;
}

#registrationButton {
    background-color: #DA96FF;
}

#bio, #status, #email, #username, #preferredName, #age, #location, #userImage {
    background-color: #f6e9fd;
}