#myHubCardGroup {
    display: flex;
    justify-content: center;
}

#myHubButton {
    background-color: #b8ffc7;
    color: black;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(231, 255, 240, 0.782);
}

#individualCard {
    margin: 50px;
}

#header {
    display: flex;
    justify-content: center;
}

#myHubQuote {
    width: auto;
    height: 150px;
}

#cardDescription {
    padding: 10px;
    font-size: 14px;
}

#cardContent {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}