#addNewCharacterForm {
    font-size: 109%;
}

#submit {
    background-color: #DA96FF;
}

#personalityDetailsOne, #physicalDetailsOne {
    align-items: end;
}

#characterHomePage {
    margin: 35px;
}

#characterHomeHeader {
    margin: 35px;
}

#cardContent {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#cardDescription {
    padding: 10px;
}

#hubCardImage {
    background-size: contain;
    width: 275px;
    height: 275px;
}

#individualCharacterCard {
    background-color: #b8ffc7;
    width: 275px;
    height: 385px;
}

#hubCardProfileButton  {
    background-color: #DA96FF;
    color: black;
}
