/*Handles CSS for CharacterForm.js & EditCharacterForm.js*/

#addNewCharacterForm,
#editCharacterForm {
    font-size: 120%;
}

#personalityDetailsOne,
#physicalDetailsOne {
    align-items: end;
}

#submit {
    background-color: #DA96FF;
    color: black;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(231, 255, 240, 0.782);
    margin: 5px 0 50px;
}

#randomTraitButton,
#randomColorButton {
    background-color: #b8ffc7;
    color: black;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(231, 255, 240, 0.782);

}

#lineBreakOne {
    background-color: #ff70cd;
    height: 7px;
    border: none;
    opacity: 0.3;
}

#formTextHeader {
    font-size: 40px;
}