/*Handles CSS for Characters.js, */

#characterHomeHeader {
    margin: 35px;
}

#characterHomePage {
    margin: 35px;
}

/*Handles CSS for CharacterHomeList.js*/

#individualCharacterCard {
    background-color: #b8ffc7;
    width: 275px;
    height: 385px;
}

#hubCardImage {
    background-size: contain;
    width: 275px;
    height: 275px;
}

#hubCardProfileButton {
    background-color: #DA96FF;
    color: black;
}