#footer {
    background-color: #B8FFC7;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

.socialbuttons {
    display: flex;
    justify-content: center;
}