#footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

#socials {
    width: 144px;
    height: 35px;

}

.socialLogo {
    width: 35px;
    height: 35px;
    padding: 1px;
}

.footerSegments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}